@import '/shared/breakpoints';
@import '/shared/colors';

.active {
  .grid,
  .project {
    position: static;
  }
}

.grid {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 1rem;
}

.project {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform-origin: center;
  // border-radius: 1rem;
  // overflow: hidden;

  &.active {
    overflow: unset;

    a {
      cursor: default;
      pointer-events: none;
    }

    span:after {
      opacity: 1;
    }
  }

  a {
    // position: relative;
    display: block;
    height: 100%;
    width: 100%;

    span {
      perspective: 1000px;
      transform-origin: center;
      height: 100%;

      &:after {
        content: '';
        position: fixed;
        inset: -1rem;
        display: block;
        background-image: linear-gradient(0deg, $black, transparent 50%);
        opacity: 0;
        transition: opacity 300ms ease-out;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}
